<h1>Down Syndromn Association of Brazos Valley</h1>
<p>
Dear <%= @user.name %>,
</p>
<p>
Welcome! Click on the following link to activate your account:
</p>
<p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>

