<!DOCTYPE html>
<html>

<head>
<style>
  body {background-color:blue}
  h1   {color:yellow}
  p    {color:yellow}
</style>
</head>

<body>
  <h1>REGISTRATION CONFIRMATION</h1>
  <p>Click on the Resend Email button to resend the email to activate your account.</p>
  <button type="button" onclick="alert('Hello world!')">Resend Email</button>
 <p> Click on, <a href="http://www.dsabv.org/">Go Home</a>, to return to home page.</p>
</body>

</html>