 <!DOCTYPE html>
<html>
<head>
<style>
body {background-color:blue;}
h1   {color:yellow}
p    {color:yellow}
</style>
</head>
<body>

<h1>REGISTRATION CONFIRMATION</h1>
<p>Please check your email to activate your account before continuing.</p>


<FORM METHOD="LINK" ACTION="home">
<INPUT TYPE="submit" VALUE="Resend Email">
</FORM>

</body>
</html>