%div.row
  %div.col-xs-12.col-sm-12.footer-style
    %footer
      %small
        =link_to " Volunteering Events Registration", '/'
        by 
        =link_to "Down Syndrome Association of the Brazos Valley", 'http://dsabv.org'

      %nav
        %ul
          %li= link_to "About", 'http://dsabv.org/facts-about-down-syndrome'
          %li= link_to "Contact", 'http://dsabv.org/contact'
