%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "http://dsabv.org", :id => "logo" } Down Syndrome Association of Brazos Valley
    #navbar.navbar-collapse.collapse{"aria-expanded" => "false", :style => "height: 1px;"}
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li.dropdown-header Nav header
            %li
              %a{:href => "#"} Separated link
            %li
              %a{:href => "#"} One more separated link
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "../navbar/"} Default
        %li
          %a{:href => "../navbar-static-top/"} Static top
        %li.active
          %a{:href => "./"}
            Fixed top
            %span.sr-only (current)
    / /.nav-collapse
%div.container
  %div.row
    %div.col-xs-12.col-sm-12.some{ :style => "padding-left:0px; padding-right:0px;" }
      =link_to image_tag("DSABV-logo.jpg", :class => "wrapper-image"), "http://dsabv.org", class: "img-responsive"